@model WebApplication1.Models.Customer

@using (Html.BeginForm("CreateCustomer", "Orders"))
{
    @Html.AntiForgeryToken()
    <h4>Купить</h4>
    <hr>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p>@Html.TextBoxFor(x => x.price, new { htmlAttributes = new { @value = "1" } })</p>
    <p>@Html.TextBoxFor(x => x.count, htmlAttributes: new { @value = "1" })</p>
    <p>@Html.TextBoxFor(x => x.email, new { @value = "qwe" })</p>
    <input type="submit" value="OK">
}
